doctype 5
html
  head
    link(rel='stylesheet/less', href='/stylesheets/client.less',type='text/css')
    script(src='/clientscripts/jquery-1.8.3.min.js')
    script(src='/clientscripts/less-1.3.3.min.js')
    script(src='/dronestream/nodecopter-client.js')
    script(src='/clientscripts/main.js')
  body
    div#container
      div.Toolbar
      div#Movement
          a#front.btn(href='/front')
            i.icon-key  W
            | &nbsp;Forward
          a#back.btn(href='/back')
            i.icon-key  S
            | &nbsp;Backwards
          a#left.btn(href='/left')
            i.icon-key  A
            | &nbsp;Left
          a#right.btn(href='/right')
            i.icon-key  D
            | &nbsp;Right
        div#Primary
          a#takeoff.btn(href='/takeoff')
            i.icon-key  T
            | &nbsp;Take off 
          a#land.btn(href='/land')
            i.icon-key  L
            | &nbsp;Land
          a#stop.btn(href='/stop')
            i.icon-off
            | &nbsp;Stop
        div#Steering
          a#clockwise.btn(href='/clockwise')
            i.icon-arrow-right
            | &nbsp;Clockwise        
          a#counterclockwise.btn(href='/counterClockwise')
            i.icon-arrow-left
            | &nbsp;CounterClockwise
          a#up.btn(href='/goup')
            i.icon-arrow-up
            | &nbsp;Up
          a#down.btn(href='/godown')
            i.icon-arrow-down
            | &nbsp;Down
      div#dronestream(width=640, height=360)
    script
      var copterStream = new NodecopterStream($('#dronestream'));