extends layout

block content
  div#container
    h1 
    p #{message}
    img#cameraImage(src='/image')
    div.Toolbar
      a#home.btn(href='/') Home
      a#takeoff.btn(href='/takeoff') Take off
      a#land.btn(href='/land') Land
      a#clockwise.btn(href='/clockwise') Clockwise
      a#goup.btn(href='/goup') Go Up
      a#goup.btn(href='/godown') Go Down
      a#stop.btn(href='/stop') Stop