extends layout

block content
  div
    h1  ParrotHttpApi
    ul
      li GET /takeoff
      li GET /land
      li GET /clockwise
      li GET /counterClockwise
      li GET /goUp
      li GET /goDown
      li GET /stop
      li GET /goFront
      li GET /goBack
      li GET /goLeft
      li GET /goRight
 
    
    p
      |ParrotHttpApi is built on Node.js, Express.js, HTML, CSS and javascript and it is based on the 
      a(href='https://github.com/felixge/node-ar-drone') node-ar-drone 
      |UDP Api. 
      
      
    p
      a(href='demoClient') Checkout example client 
      
      
      