extends layout

block content
  h1 
  p #{message}
  a#takeoff.btn(href='/takeoff') Take off
  a#land.btn(href='/land') Land
  a#clockwise.btn(href='/land') Clockwise
  a#goup.btn(href='/goup') Go Up
  a#goup.btn(href='/godown') Go Down 
  img(src='/image')