extends layout

block content
  div#container
    h1 
    p #{message}
    
    script
        var socket = io.connect('http://localhost:3000');
        socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
        });
    
    
    img#cameraImage(src='/image')
    div.Toolbar
      a#home.btn(href='/') Home
      a#takeoff.btn(href='/takeoff') Take off
      a#land.btn(href='/land') Land
      a#clockwise.btn(href='/clockwise') Clockwise
      a#counterClockwise.btn(href='/counterClockwise') CounterClockwise
      a#goup.btn(href='/goup') Go Up
      a#goup.btn(href='/godown') Go Down
      a#stop.btn(href='/front') Go Forward
      a#stop.btn(href='/back') Go Backwards
      a#stop.btn(href='/left') Go Left
      a#stop.btn(href='/right') Go Right
      a#stop.btn(href='/stop') Stop