extends layout

block content
  div#container
    h1 
      Parrot Http Api
    p
      ul
        li GET /takeoff
        li GET /land
        li GET /clockwise
        li GET /counterClockwise
        li GET /goUp
        li GET /goDown
        li GET /stop
        li GET /goFront
        li GET /goBack
        li GET /goLeft
        li GET /goRight
    
       a(href='demoClient') Checkout example client 
      
      
      